<!-- Section Rooms -->
<div class="section">
    <div class="widget-rooms-carousel top-over">
        <div class="wrapper-inner">
            <!-- Rooms Title -->
            <div class="widget-title">
                <h5>OUR ROOMS</h5>
                <h2>Experience The Freedom</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
            </div>
            <!-- Rooms Title End -->
            <!-- Rooms Carousel -->
            <div class="widget-carousel owl-carousel owl-theme">
                <div class="rooms-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="rooms-detail.html" style="background-image: url('img/photo-room-1.jpg');"></a>
                        </div>
                        <div class="item-desc">
                            <h2><a href="rooms-detail.html">Single Room</a></h2>
                            <h3>$ 160.00</h3>
                            <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="rooms-detail.html" style="background-image: url(img/photo-room-2.jpg)"></a>
                        </div>
                        <div class="item-desc">
                            <h2><a href="rooms-detail.html">Double Room</a></h2>
                            <h3>$ 300.00</h3>
                            <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="rooms-detail.html" style="background-image: url(img/photo-room-3.jpg)"></a>
                        </div>
                        <div class="item-desc">
                            <h2><a href="rooms-detail.html">Deluxe Single Room</a></h2>
                            <h3>$ 420.00</h3>
                            <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="rooms-detail.html" style="background-image: url(img/photo-room-4.jpg)"></a>
                        </div>
                        <div class="item-desc">
                            <h2><a href="rooms-detail.html">Deluxe Double Room</a></h2>
                            <h3>$ 540.00</h3>
                            <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="rooms-detail.html" style="background-image: url(img/photo-room-5.jpg)"></a>
                        </div>
                        <div class="item-desc">
                            <h2><a href="rooms-detail.html">Royal Suit Room</a></h2>
                            <h3>$ 680.00</h3>
                            <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Rooms Carousel End -->
        </div>
    </div>
</div>
<!-- Section Rooms End -->

<style>
    .widget-rooms-carousel .rooms-item {
        padding: 30px;
        
    }

    .widget-rooms-carousel .rooms-item .item-inner {
        background-color: transparent;
            -webkit-box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, @(shadowOpacity));
            -moz-box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, @(shadowOpacity));
            box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, @(shadowOpacity));
    }

    .widget-rooms-carousel .rooms-item .item-photo a {
        display: block;
        width: 100%;
        padding-top: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
            border-radius: @(roundedImageBorders)px @(roundedImageBorders)px 0px 0px;
        background: transparent;
    }

    .widget-rooms-carousel .rooms-item .item-desc {
        position: relative;
        padding: 40px;
        text-align: center;
    }

    .widget-rooms-carousel .rooms-item .item-desc h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .widget-rooms-carousel .rooms-item .item-desc h2 a:hover {
        color: #d77b5d;
    }

    .widget-rooms-carousel .rooms-item .item-desc h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        color: #d77b5d;
        margin-bottom: 20px;
    }

    .widget-rooms-carousel .rooms-item .item-desc p {
        min-height: 75px;
        color: #818a9c;
    }

    .widget-rooms-carousel .rooms-item .item-desc p:last-child {
        margin-bottom: 0;
    }

    .widget-rooms-carousel .rooms-item .item-desc .fa-star {
        position: absolute;
        left: 50%;
        bottom: 20px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .widget-rooms-carousel .rooms-item .item-desc .fa-star:before {
        content: "\f005\f005\f005";
        letter-spacing: 5px;
        color: #d77b5d;
    }

    .widget-rooms-carousel .widget-carousel {
        width: auto;
        min-width: 100%;
        margin-top: -30px;
        margin-left: -30px;
        margin-right: -30px;
    }

    .widget-rooms-carousel .widget-carousel .owl-dots {
        margin-top: 10px;
    }

    .widget-rooms-carousel.top-over .widget-title {
        display: none;
    }

    .widget-rooms-carousel.top-over .widget-carousel {
        margin-top: -100px;
        z-index: 2;
    }

    .widget-rooms-carousel.top-over .wrapper-inner,
    .widget-rooms-carousel.top-over .wrapper-full-inner {
        padding-top: 0;
        padding-bottom: 0;
    }
</style>

@code {
    private int roundedImageBorders = 5;

    private string shadowOpacity = "0.1";
}